/* .red-text{
    color: red;
}
h3{
    color: green;
}
p{
    color: blue;
} */
/* #main{
    color: red;
}
h2{
    color: green;
} */
/* p[draggable]{
    color: red;
} */
.this{
    color: blue;
}
#that{
    color: green;
}